# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### VS Code ###
.vscode/

### PyCharm ###
*.idea

### Jupyter Notebook ###
.ipynb_checkpoints

### analytics output ###
*.png

### Python ###
*.pyc

### Environments ###
*env
*.zip
/envDataSetEvalPy3.8/

### Reports ###
*.pdf
*.coverage
*.html
*.js
*.css
*.txt
